aside.logo {
    background-color:#02080c;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: black;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
}

@media(max-width: 660px) {
    adise.logo img {
        width: 350px;

    }
}
